--extra-index-url https://download.pytorch.org/whl/cu118

numpy
opencv-python
onnx
onnxruntime-gpu
insightface
psutil
tk
customtkinter
tkinterdnd2
tkinterdnd2-universal
pillow
tensorflow
opennsfw2
protobuf
tqdm
gfpgan